<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="home.css">
    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/layoutjquery.js"></script>
    <script>
    postStatus = function(state){
      $.ajax({
        type: 'POST',
        url: 'http://localhost:9292/status/new',
        data: {status: state},
        dataType: 'json',
        success: function(data){
          $('#status').text("Status: " + data)
        }
      })
    }
    </script>
  </head>
  <body>

  <button class="sidebar-tag" onclick="openSidebar()">opensidebar</button>

  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large" onclick="closeSidebar()">Close &times;</button>
    <div class="container-flex profile-banner">
      <div class="profile-pic-box">
        <% if current_user != nil %>
          <img class="profile-pic" src="<%= current_user.profile_pic %>">
        <% else %>
          <img class="default_profile_pic" src="/images/default_profile_pic.png">
        <% end %>
      </div>
    </div>
  <% if current_user != nil %>
  <%= current_user.username %>
  <div>
    <div class="game-status">
      <button onclick="postStatus('Here')">Here</button>
      <button onclick="postStatus('Away')">Away</button>
      <button onclick="postStatus('Being Cool')">Being Cool</button>
    </div>
    <h4 id="status">Status:
    <!-- <%= current_user.status if current_user.status != nil %></h4> -->
    <h4>Overall Rank:</h4>
  </div>
    <form action="logout" method="post">
      <input type="submit" value="Log Out" name="Log Out">
    </form>
    <% end %>
  </div>

  <div id="main">
  </div>



    <% if flash[:errors] && !flash[:errors].empty? %>
    Please refer to the following errors below:
    <ul id='errors'>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
    <!-- yields to the view which has been called by the controller -->
  </body>
</html>
